<h1>Security checkpoint</h1>

<%= form_for @site, :url => complete_path do |f| %>
  <% if sreg_request || ax_fetch_request || ax_store_request %>
    <%= f.hidden_field :persona_id %>
    <%= f.hidden_field :url %>
  <% end %>

  <% if sreg_request || ax_fetch_request %>
    <div style="display:none"><input checked="checked" id="site_sreg_email" name="site[sreg][email]" type="checkbox" value="<%= @site.account.email %>"></input></div>
    <%= submit_tag 'Continue (and stay logged in)', :name => 'always', :class => 'btn btn-primary' %>
    <%= submit_tag 'Continue (just this once)', :name => 'temporary', :class => 'btn btn-info' %>
  <% else %>
    <%= submit_tag 'Approve', :name => 'temporary', :class => 'btn btn-info' %>
  <% end %>
  <%= submit_tag 'Cancel', :name => 'cancel', :class => 'btn btn-warning' %>
<% end %>

