<%= form_tag session_path do %>
  <fieldset>
    <% if checkid_request && !checkid_request.id_select %>
      <strong><%=t :your_openid %>:</strong>
      <%= checkid_request.identity %>
      <span class="note"><%= link_to t(:cancel_this_request), cancel_path %></span>
      <%= hidden_field_tag :login, extract_login_from_identifier(checkid_request.identity) %>
    <% else %>
      <%= label_tag :login, 'User name' %>
      <%= text_field_tag :login %>
    <% end %>
    <%= label_tag :password, t(:password) %>
    <%= password_field_tag :password %>
    <label class="checkbox">
      <%= check_box_tag :remember_me %> Remember me
    </label>
  </fieldset>
  <div class="form-actions">
    <%= submit_tag 'Continue', class: 'btn btn-primary' %>
  </div>
<% end %>
